#---------------------------------------------------------------------------
# Project settings
#---------------------------------------------------------------------------
PROJECT_NAME           = "CommandCatcher"
PROJECT_BRIEF          = "Helps obtain commands from attached host."
OUTPUT_DIRECTORY       = ./docs
PREDEFINED			   = DOXYGEN

#---------------------------------------------------------------------------
# Input files (C++ and Markdown)
#---------------------------------------------------------------------------
INPUT                  = ./src ./
FILE_PATTERNS          = *.h *.hpp *.cpp *.cxx *.md
RECURSIVE              = NO

#---------------------------------------------------------------------------
# Markdown support (treat README.md as main page)
#---------------------------------------------------------------------------
USE_MDFILE_AS_MAINPAGE = ./readme.md
MARKDOWN_SUPPORT       = YES

#---------------------------------------------------------------------------
# HTML output (only)
#---------------------------------------------------------------------------
GENERATE_HTML          = YES
GENERATE_LATEX         = NO
HTML_OUTPUT            = .
HTML_TIMESTAMP         = NO

#---------------------------------------------------------------------------
# Extraction rules (focus on public API)
#---------------------------------------------------------------------------
EXTRACT_ALL            = YES
EXTRACT_PRIVATE        = NO
EXTRACT_STATIC         = NO
SHOW_INCLUDE_FILES     = NO
FULL_PATH_NAMES        = NO

#---------------------------------------------------------------------------
# Disable diagrams and graphs
#---------------------------------------------------------------------------
HAVE_DOT               = NO
CLASS_DIAGRAMS         = NO
CALL_GRAPHS            = NO
COLLABORATION_GRAPHS   = NO

#---------------------------------------------------------------------------
# Optimizations (faster builds)
#---------------------------------------------------------------------------
ALPHABETICAL_INDEX     = NO
DISABLE_INDEX          = NO
GENERATE_TREEVIEW      = YES